<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color:red;
        }
        img{
            margin-left: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
    <img src="/err.jpg">
    <h1>
        <%- errData%>,请重新选择以下跳转链接
    </h1>
    <div>
        <a href="./index.html">回到主页</a>
        <a href="./login.html">登陆页面</a>
        <a href="./register.html">注册页面</a>
    </div>
</body>
</html>